<!DOCTYPE html>

<head>

    {%block head%}
        <title>Foodfy</title>
        {%endblock%}

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <div>
                <a href="/">Foodfy</a>
                <a id="sobre" href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </header>

        {%block content%}
            {%endblock%}

            <div class="footer">
                <h1>Todos direitos reservados, receitas Foodfy.</h1>
            </div>
        </body>

    </html>