{%extends "layout.njk"%}
{%block head%}
    <title>Foodfy - Sobre</title>
    {%endblock%}
    {%block content%}

        <div class="text">
            <h1>{{about.title1}}</h1>
            <p>{{about.text1}}</p>
            <h2>{{about.title2}}</h2>
            <p>{{about.text2}}</p>
            <h3>{{about.title3}}</h3>
            <p>
                {{about.text3}}
            </p>
        </div>

        {%endblock%}